@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:linear-gradient(0deg, rgba(255,255,193,1) 0%, rgba(209,255,209,1) 19%, rgba(193,255,255,1) 99%);
    height: 10rem;
}

.head_container{
    display: flex;
}

.Atlas_img{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.head_container p{
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2.5%;
}

.accordion_menu{
    margin-right: 2%;
    margin-top: 1%;
}

.toggle {
	display: none; /* ラジオボタンのボタンを消す */
}

.auth_user_icon{
    height: 50px;
    margin-right: 2%;
    margin-top: 1.5%;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    width: 20vw;
}

/* ユーザー検索画面 */

.search_area {
    display: flex;
    border-bottom: 5px dashed #ede4e1;

}

.search{
    height: 3rem;
    width: 80%;
}

.search_user{
    padding-top: 10px;
}

.search_btn{
    width:9%;
    margin-top: 1%;
}

.search_user_detail{
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    font-size: 1.3em;
    font-weight:bold;
}

.search_user_detail img{
    /* margin-right: 5%; */
    width: 5rem;
}

.search_user_detail p{
    /* text-indent: 0%; */
    margin-left: 10%;
}

.search_user_detail button{
    /* margin-left: 10%; */
    text-indent: 0%;
}