@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background: linear-gradient(0deg, rgba(238,231,224,1) 0%, rgba(237,228,225,1) 19%, rgba(248,244,230,1) 99%);
    height: 10rem;
}

.head_container{
    display: flex;
}

.Atlas_img{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.head_container p{
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2.5%;
}

.accordion_menu{
    margin-right: 2%;
    margin-top: 1%;
}

.toggle {
	display: none; /* ラジオボタンのボタンを消す */
}

.auth_user_icon{
    height: 50px;
    margin-right: 2%;
    margin-top: 1.5%;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    width: 20vw;
}

/* ユーザー検索画面 */

.search_area {
    display: flex;
    border-bottom: 5px dashed #ede4e1;

}

.search_area Form{
    display: flex;
    align-items: center;
}

.search{
    height: 3rem;
    width: 80%;
}

.search_user{
    padding-top: 10px;
}

.search_btn{
    width:10%;
}

.search_user_detail{
    display: flex;
    font-weight:bold;
}

.search_user_detail a{
    margin-left: 30%;
    width: 5rem;
}

.search_username{
    width: 200px;
    margin-left: 10%;
    font-size: 1.5em;
}

.search_bio{
    width: 200px;
}



.search_user_detail button{
   
}