@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:linear-gradient(0deg, rgba(255,255,193,1) 0%, rgba(209,255,209,1) 19%, rgba(193,255,255,1) 99%);
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
